---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokeCard from "@components/pokemons/PokeCard.astro";
import type { PokeListResponse } from "@interfaces/index.ts";
  
// interface Props {
//   page: PokePage;
// }

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokeListResponse;

  return results.map(({name, url}) => {
    const id = url.split('/').at(-2);

    return {
      params: {id: id},
      props: {name, url}
    }
  })
}) satisfies GetStaticPaths;

const title = "Pokemon Static | Home";

const { name, url } = Astro.props;
const { id } = Astro.params;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;

---
<MainLayout title="Algun pokemon">
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a href="/">Regresar</a>
      <h1 class="text-5xl capitalize">{name}</h1>
    </div>

    {
        <div>
          <span>{id}</span>
          <div>
          <PokeCard name={name!} url={url} isBig />
          <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg" />
            Your browser does not support the audio element.
          </audio>
        </div>
        </div>
    }
  </section>
</MainLayout>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
</style>